
@{
    ViewBag.Title = "NewProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container p-5">
       
        <div class="card m-5">
            <div class="card-body bg-info">
                New Products
            </div>
            <div class="card-body">
                <form method="post" action="NewProduct">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Categories</label>
                        <select name="Categories" class="form-control" id="categoriesid">
                            <option>Organic Fruits</option>
                            <option>Organic Vegitables</option>
                            <option>Exotic Fruits</option>
                            <option>Exotic Vegitables</option>
                            <option>Dry Fruits</option>
                            <option>Fruit Juices & Drinks</option>
                            <option>Energy & SoftDrinks</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputCity">Name</label>
                        <input type="text" class="form-control" name="Name" id="nameid">
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Price</label>
                            <input type="text" class="form-control" name="Price" id="priceid">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputZip">Offer</label>
                            <input type="text" class="form-control" name="Offer" id="offerid">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Stock</label>
                            <input type="text" class="form-control" name="Stock" id="stockid">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputCity">Url</label>
                        <input type="text" class="form-control" name="Url" id="urlid">
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>

