@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";


}



<section class="home" id="home">

    <div class="centercontent">

    </div>
</section>
<br>
<br>

<section class="product">

    <div class="heading" id="call1">

        <h2><a href="#">Explore By Category</a></h2>
        <hr>
    </div>

    <div class="image-container">
        <div class="pic">
            <a href="~/items"><img src="~/Content/images/pro1.jpg" alt="1" width="240" height="240"></a>
            <h3 class="gap">Organic Vegitables</h3>
        </div>
        <div class="pic">
            <a href="#"><img src="~/Content/images/pro2.jpg" alt="2" width="240" height="240"></a>
            <h3 class="gap">Organic Fruits</h3>
        </div>
        <div class="pic">
            <a href="#"><img src="~/Content/images/pro3.jpg" alt="3" width="240" height="240"></a>
            <h3 class="gap">Exotic Vegitables</h3>
        </div>
        <div class="pic">
            <a href="#"><img src="~/Content/images/pro4.jpg" alt="4" width="240" height="240"></a>
            <h3 class="gap">Exotic Fruits</h3>
        </div>
        <div class="pic">
            <a href="#"><img src="~/Content/images/pro5.jpg" alt="5" width="240" height="240"></a>
            <h3 class="gap">Micrograms & Sprouts</h3>
        </div>
        <div class="pic">
            <a href="#"><img src="~/Content/images/product6.jpg" alt="6" width="240" height="240"></a>
            <h3 class="gap">Dry Fruits</h3>
        </div>

    </div>
    <div class="heading" id="call2">
        <h2><a href="">Products</a></h2>
        <hr>
    </div>
    <div class="box-container">

        <div class="card">
            <div class="corner-box"><span></span></div>
            <img src="~/Content/images/product-12.jpg" alt="">
            <h3 class="gap">Strawberry</h3>
            <div class="price"><span>₹269</span>Save ₹230(33%)</div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>

            </div>
            <button type="button" class="btn">Add To Cart</button>
        </div>

        <div class="card">

            <div class="corner-box"><span></span></div>
            <img src="~/Content/images/product-10.webp" alt="">
            <h3 class="gap">Cabbage</h3>
            <div class="price"><span>₹30</span>Save ₹20(15%)</div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>

            </div>
            <button type="button" class="btn">Add To Cart</button>
        </div>

        <div class="card">

            <div class="corner-box"><span></span></div>
            <img src="~/Content/images/product-11.webp" alt="">
            <h3 class="gap">Fresh Baby Orange - 1kg</h3>
            <div class="price"><span>₹438</span>Save ₹400(23%)</div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>

            </div>
            <button type="button" class="btn">Add To Cart</button>
        </div>

        <div class="card">

            <div class="corner-box"><span></span></div>
            <img src="~/Content/images/product-13.webp" alt="">
            <h3 class="gap">Colocasia - 250g</h3>
            <div class="price"><span>₹30</span>Save ₹20(10%)</div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button type="button" class="btn">Add To Cart</button>
        </div>
    </div>
</section>



<!-- ADVERT -->
<section class="section advert">
    <div class="advert-layout container">
        <div class="item ">
            <img src="~/Content/images/promo2.jpg" alt="">
            <div class="content left">
                <span>Exclusive Sales</span>
                <h3>Spring Collections</h3>
                <a href="">View Collection</a>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/promo1.jpg" alt="">
            <div class="content  right">
                <span>New Trending</span>
                <h3>Designer Bags</h3>
                <a href="">Shop Now </a>
            </div>
        </div>
    </div>
</section>



<section class="last-product product">

    <div class="heading" id="call3">
        <h2><a href="#">New Arrivals</a></h2>
    </div>

    <div class="box-container">
        <div class="card">

            <div class="corner-box"><span></span></div>
            <img src="~/Content/images/product-12.jpg" alt="">
            <h3 class="gap">Strawberry</h3>
            <div class="price"><span>₹269</span>Save ₹230(33%)</div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button type="button" class="btn">Add To Cart</button>
        </div>

        <div class="card">

            <div class="corner-box"><span></span></div>
            <img src="~/Content/images/product-12.jpg" alt="">
            <h3 class="gap">Strawberry</h3>
            <div class="price"><span>₹269</span>Save ₹230(33%)</div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button type="button" class="btn">Add To Cart</button>
        </div>


        <div class="card">

            <div class="corner-box"><span></span></div>
            <img src="~/Content/images/product-12.jpg" alt="">
            <h3 class="gap">Strawberry</h3>
            <div class="price"><span>₹269</span>Save ₹230(33%)</div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button type="button" class="btn">Add To Cart</button>
        </div>


        <div class="card">

            <div class="corner-box"><span></span></div>
            <img src="~/Content/images/product-12.jpg" alt="">
            <h3 class="gap">Strawberry</h3>
            <div class="price"><span>₹269</span>Save ₹230(33%)</div>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <button type="button" class="btn">Add To Cart</button>
        </div>

    </div>
</section>

<!-- Testimonials -->
<section class="section">
    <div class="testimonial-center container">
        <div class="testimonial">
            <span>&ldquo;</span>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                fugiat labore. Veritatis et omnis consequatur.
            </p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="img-cover">
                <img src="~/Content/images/profile1.jpg" alt="" />
            </div>
            <h4>Will Smith</h4>
        </div>
        <div class="testimonial">
            <span>&ldquo;</span>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                fugiat labore. Veritatis et omnis consequatur.
            </p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="img-cover">
                <img src="~/Content/images/profile2.jpg" alt="" />
            </div>
            <h4>Will Smith</h4>
        </div>
        <div class="testimonial">
            <span>&ldquo;</span>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
                fugiat labore. Veritatis et omnis consequatur.
            </p>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="img-cover">
                <img src="~/Content/images/profile3.jpg" alt="" />
            </div>
            <h4>Will Smith</h4>
        </div>
    </div>
</section>

<!--end-->
